
.App {
  text-align: center;
}
h4{
  font-size: 18px !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.sec1-f{
  padding: 50px 0px ;
  background-image: url("/public/images/footer-bg.png"); 
  background-size: cover;
  background-position: bottom;
}
.sec2-f{
  padding: 50px 0px ;
  background-color: white;
}
#footer a {
  color: #c3c3c3;
  text-decoration: solid;
  text-align: center;
}
.footer-bigcar {
  width: 100%;
  margin: -30px;
  margin-top: -180px;
}
.f-logo-img{
  float: left;
  max-width: 100px;
}
button.search-button-navbar.btn.btn-primary {
  background: none;
  z-index: 5;
  color: black;
  padding:0px;
  margin-left: -50px;
  border: none;
}
input.me-2.searchbar-nav.form-control {
  width: 300px;
  padding-right: 35px;
  height: 35px;
}

.fontsizesmall{
  font-size: 14px;
}
.loader{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-page-carD{
  font-size: 21px;
}
a{
  color:#589bff !important;
}
.blue-text{
  color:#589bff !important;
}
.row-techsheet {
  background: white;
  margin: 5px;
  padding: 5px;
}
.navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 29%27%3e9%3cpath stroke=%27rgba%28555, 255, 255, 255%25%27 stroke-linecap=%27round%27 stroke-miterlimit=%2714%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e") !important
}
.languagelist{
  list-style-type: none;
  line-height: 45px;
  cursor: pointer;
}
.cursor{
  cursor: pointer;
}
.share-button-float {
  padding: 5px 25px !important;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10;
}
.languageImg{
    width: 30px;
    border-radius: 50px;
}
a.navbar-brand {
  color: white;
  margin-left: 20px;
}
.title-carousel{
  font-weight: 700;
}
.carousel-caption{
  bottom: 30% !important;
}
.carousel-inner,.carousel,.carousel-item {
  max-height: 90vh !important;
}
.yellow-text{
  color: #FDC101 !important;
}
.yellow-bg{
  background: #FDC101 !important;
}
.adminDashboard{
  min-height: 100vh;
}
.grey-text{
  color: #4e4e4e !important;
}
.white-text{
  color: #fff !important;
}
.navbar-toggler:focus{
  box-shadow: none !important;
}
.pageCon {
  margin: 50px 0px;
  background: #F6F6F6;
  padding: 0px;
}
.archive{
  padding: 40px;
}
.archive-item{
  border-radius: 5px;
  margin-bottom: 25px;
}
.archive-item-cars {
  background: white;
  margin: 15px 0px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 5px 5px 0px #eaeaea;
}
img.image-card-archive {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}
.single-image-card-archive{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  
}
.archive-item img{
  border-radius: 5px 5px 0px 0px;
  width: 100%;
}
.archive-item-inner {
  background: #272727;
  padding: 5px;
  color: white;
  border-radius: 0px 0px 5px 5px;
}
.archive-item-inner-4 {
  background: #fff;
  padding: 15px;
  color: white;
  box-shadow: 0px 5px 5px 0px #eaeaea;
}
.archive-item-4 img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.archive-item-4{
  border-radius: 0px;
  margin-bottom: 25px;
}
.page-title {
  width: 100%;
  padding: 20px 40px;
  background: #212529;
  min-height: 75px;
  color: white;
  font-size: 21px;
  font-weight: 700;
}
a.no-underline {
  text-decoration-line: none;
}
.totalcars{
  font-size: 14 px;
}
.image-holder-single img {
  width: 100%;
  max-width: 350px;
  object-fit: cover;
  border-radius: 5px;
  margin: 5px;
}
.image-holder-single {
  display: flex;
  overflow-x: scroll;
  padding: 30px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.offcanvas.offcanvas-start.show {
  width: 300px !important;
}
.justify-content-start.flex-grow-1.pe-3.navbar-nav {
  font-size: 18px;
  line-height: 35px;
  padding: 30px;
}
.admin-navbarr a{
  font-size: 18px;
  line-height: 35px;
  text-decoration-line: none;
  color: white !important;
}
button.btn.btn-primary {
  background-color: #FDC101;
  border-radius: 50px;
  padding: 15px 50px;
  border-color: #FDC101;
}
.vs-image{ 
  width: 100% !important;
  height: 100% !important;
  max-width: 50px !important;
  margin-top: -260px;
}
.blue-bg{
  background-color: #3C86F5;
}
.btn:hover{
  background-color: #3C86F5 !important;
  border-color: #3C86F5 !important;
}
.socialIconsSlide{
  position: fixed;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  background: white;
  bottom: 70px;
}
.row-techsheet .blue-text {
  border-right: solid 1px lightgrey;
}
@media screen and (max-width: 600px) {
  .image-card-archive{
    height: 175px;
    margin-bottom: 20px;
  }
  .carousel-inner,.carousel,.carousel-item {
    min-height: 75vh !important;
  } 
  .page-title{
    font-size: 18px;
  }
  .sliderImage {
    height: 100% !important;
    min-height: 75vh !important;
    object-fit: cover;
  }
  .carousel-caption {
    bottom: 15% !important;
  }
  .archive{
    padding: 10px
  }
  .archive-item{
    padding: 5px !important;
    margin-bottom: 0px;
  }
  .archive-item-inner h4{
    font-size: 14px !important;
    margin-bottom: 0px !important;
  }
  
  .archive-item-inner span{
    font-size: 12px !important;
  }
  .archive-item-4 img {
    max-height: 150px !important;
  }
  .archive-item-4{
    padding: 5px !important;
  }
  .lang-switch-but {
    position: absolute;
    right: 0;
    top: 0;
  }
  .footer-bigcar{
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .f-logo-img {
    float: left;
    max-width: 85px;
}
}